/* STYLE.CSS */
body {
    background: linear-gradient(180deg, #502050, #201020);
    font-family: 'Press Start 2P', monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    width: 70px;
}



/* MAIN PANEL */
.PANEL {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-height: 95vh;
	height: auto;
	overflow-y: auto;
    width: 600px;

    background: linear-gradient(to bottom, #444, #111);
    color: #ffffff;
	
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.9);

	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;             
}


.PANEL h1 {
	text-align: center;
    font-size: 1.2em;
    margin-bottom: 80px;
}

.PANEL ul {
	font-size: 1em;
	list-style: " > ";
	padding: 0;
	margin: 0;
}


.PANEL li {
	padding: 7px;
}


.PANEL_FOOTER {
	color: #bbb;
    font-size: 0.6em;
    text-align: center;
	margin-bottom: 40px;
}


.emoji {
	font-size: 1.4em;
    display: inline-block;
    position: relative;
	bottom: 2px;
}




/* CUSTOM LINK BUTTONS */
.coffee-link {
  color: yellow;
  text-decoration: none;
}

.coffee-link:hover {
  color: white;
}


.googleplay-link {
  color: lightblue;
  text-decoration: none;
}

.googleplay-link:hover {
  color: white;
}


.doc-link {
  color: orange;
  text-decoration: none;
}

.doc-link:hover {
  color: white;
}
